pre {
    font-size: 22px;
    line-height: 22px;
    font-family: monospace;
}
.progreso { font-size: 28px; letter-spacing: 6px; }
h3 {
    color: #d9534f;
    font-size: 24px;}

h2 {
    color: #5cb85c;
    font-size: 28px;
}
