table { border-collapse: collapse; margin-top: 20px; }
    td {
        width: 35px; height: 35px;
        text-align: center;
        font-size: 20px;
        border: 1px solid #444;
        cursor: pointer;
        user-select: none;
    }
    td.selected { background-color: rgb(153, 153, 0); }
    td.found { background-color: rgb(2, 77, 12) !important; }