table { border-collapse: collapse; }
    td {
        width: 40px;
        height: 40px;
        border: 1px solid #555;
        text-align: center;
    }
    input {
        width: 38px;
        height: 38px;
        text-align: center;
        font-size: 22px;
        border: none;
    }
    .fixed {
        background: #eee;
        font-weight: bold;
    }
    .subgrid-border {
        border-right: 3px solid black !important;
    }
    .subgrid-border-bottom {
        border-bottom: 3px solid black !important;
    }
    button {
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
    }